@page
@model CampusCraft.Pages.adminlogModel
@{
}
<div class="row">
	<div class="col-md-4" style="background-color:black;">
		<h3 style="text-align:center;color:white;margin-top:5px;">welcome</h3>

		<label style="text-align:center;color:white;"></label>
	</div>
	<div class="col-md-4" style="background-color:wheat;color:white;font-size:30px;">
		<a class="nav-link text-black" asp-area="" asp-page="#" style="margin-left:35px;">Current Drives</a>

	</div>
	<div class="col-md-1" style="background-color:wheat;color:black;font-size:30px;">
		<h1 style="margin-top:2px;">|</h1>
	</div>
	<div class="col-md-3" style="background-color:wheat;color:white;font-size:30px;">
		<a class="nav-link text-black" asp-area="" asp-page="#" style="margin-left:35px;"> Upcoming Drives</a>
	</div>
