@page
@model CampusCraft.Pages.apply_driveModel
@{
}
<html>
	<body>
		<div class="container">
			<div class="">

			</div>



		    <div class="row">
			   <div class="col-md-6" style="background-color:azure">
				   <h3>Welcome to ICCS</h3><br />
				<p>ICCS extends career guidance, campus placement which is a gateway to a aspired career and helps the students to become competent in the world of cut-throat competition.At ICCS career services, soft skills development program and aptitude are provided which enhance the potentials of students and which creates maximum opportunities for the placement of the eligible students in the job market.</p>
				<p>The on-campus recruitment at ICCS provides a convenient way for corporates to interview our students for permanent employment. The process has been designed jointly by the faculty, recruiters and students over the years and tries to optimize the interests of all.We arrange workshops, alumni meet for interactions, we have collaboration with various multinational companies to open new avenue of career. We conduct pre placement activity program for the final year students which helps students to get placed in MNCs.</p>
			   </div>
			   <div class="col-md-6">
				   <h2 style="margin-left:30px;">Academic Progress</h2>
				<div class="progress" style="margin-top:7%;">
					<div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progress" style="margin-top:7%;">
					<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="progress" style="margin-top:7%;">
					<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

			   </div>
		    </div>

			<div class="row">
				<div class="col-md-6">
				  <div style="background-color:orange;font:white;border-radius:30%;margin-top:5%;border:hidden;text-align:center;">
					<h3><a class="nav-link text-light" asp-area="" asp-page="upcoming_drives">UPCOMING DRIVE</a></h3>
					<a class="nav-link text-light" asp-area="" asp-page="upcoming_drives">check and get the latest drive and upcoming drive details</a>
				  </div>
				  <div style="background-color:orange;font:white;border-radius:30%;margin-top:5%;margin-bottom:5%;border:hidden;text-align:center;">
					<h3><a class="nav-link text-light" asp-area="" asp-page="latest_drive">LATEST DRIVE</a></h3>
					<a class="nav-link text-light" asp-area="" asp-page="latest_drive">check and get the latest drive and upcoming drive details</a>
				  </div>
				</div>
				<div class="col-md-6">
				<table class="table" style="margin-top:5%;margin-left:4%;">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Company</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>infosys</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>tcs</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>bajaj</td>
						</tr>
						<tr>
							<th scope="row">4</th>
							<td>tom</td>
							<td>thorn</td>
							<td>apache</td>
						</tr>
					</tbody>
				</table>

				</div>
			</div>

		</div>
	</body>
</html>
