@page
@model CampusCraft.Pages.latest_driveModel
@{
}


<html>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align:center;color:orange;">
				<h3>CURRENT DRIVES</h3>
			</div>
		</div>

		<div class="row" style="margin-top:5%;align-content:center;margin-bottom:5%;">
			<div class="col-md-4" style="height:40%;">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://logowik.com/content/uploads/images/bajaj-finance6835.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Data Analyst</h5>
						<p class="card-text"> Strong analytical skills and proficiency in data visualization tools.Proficiency in SQL, Excel, and other data analysis tools.</p>
						
						<a class="btn btn-primary" asp-area="" asp-page="/bajajfinserv" role="button" style="margin-left:20%;">Apply Now</a>

					</div>
				</div>
			</div>
		
			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd_LsYHorTZwTzoYevKKg0L6ZzHtX8YeO_s2FiBVRYzQ&s" alt="Card image cap" style="height:20%;">
					<div class="card-body">
						<h5 class="card-title">Software Engineer</h5>
						<p class="card-text">We are looking for a cadidate whose is compatible with:Java,C language,Data Structures and Algoriyhms,python,mysql,postgresql,mangodb erc.</p>
						<a class="btn btn-primary" asp-page="/flipkart" style="margin-left:18%;">Apply now</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://logowik.com/content/uploads/images/microsoft44289.logowik.com.webp" alt="Card image cap" style="height:20%;">
					<div class="card-body">
						<h5 class="card-title">Software Engineer</h5>
						<p class="card-text">We are looking for a cadidate whose is compatible with:Java,C language,Data Structures and Algoriyhms,python,mysql.</p>
						<a href="https://www.google.com/search?q=flipkart+careers+pune&oq=flipkart+careers+pu&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIICAIQABgWGB4yDQgDEAAYhgMYgAQYigUyDQgEEAAYhgMYgAQYigUyDQgFEAAYhgMYgAQYigUyDQgGEAAYhgMYgAQYigWoAgiwAgE&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&sqi=2&ved=2ahUKEwi9u9Tuh7KFAxWW-DgGHXWpD3kQkd0GegQIRxAB#fpstate=tldetail&htivrt=jobs&htiq=flipkart+careers+pune&htidocid=9T9HostgupU-NjJFAAAAAA%3D%3D&sxsrf=ACQVn0-opp_hcDhvKPPDAwy-nl2J9WuFtA:1712560190862" class="btn btn-primary" style="margin-left:18%;">Apply now</a>
					</div>
				</div>
			</div>


			
			<div class="row" style="margin-top:5%;">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://awsmp-logos.s3.amazonaws.com/f4fb055a-5333-4b6e-8d8b-a4143ad7f6c7/7044e29823eb600ea657765bd790d875.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Software Developer</h5>
							<p class="card-text">We are looking for software engineers who thrive on complex problem and is compatible with:Java,C language,Data Structures and Algoriyhms,python,mysql,postgrsql etc. </p>
							<a class="btn btn-primary" asp-page="/crowdstrike" style="margin-left:18%;">Apply now</a>
						</div>
					</div>
				</div>


				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://nextgeneration.vc/wp-content/uploads/2018/07/kpmg-logo.png" alt="Card image cap" style="height:20%;">
						<div class="card-body">
							<h5 class="card-title">Software Engineer</h5>
							<p class="card-text">We are looking for candidate who is compatible with:Java,C language,Data Structures and Algoriyhms,python,mysql .</p>
							<a href="https://www.google.com/search?q=kpmg+careers+pune+data+engineer&sca_esv=362041e0339ad871&sca_upv=1&hl=en&biw=1536&bih=776&sxsrf=ACQVn0__R5kdAhi2zVDDrpXFr4bAkzcFoQ:1712566243856&ei=468TZvXeM-6RseMPhOuw4AM&oq=kpmg+careers+pune+data&gs_lp=Egxnd3Mtd2l6LXNlcnAiFmtwbWcgY2FyZWVycyBwdW5lIGRhdGEqAggCMgUQIRigATIFECEYoAEyBRAhGKABMgUQIRigATIFECEYnwUyBRAhGJ8FMgUQIRifBTIFECEYnwUyBRAhGJ8FMgUQIRifBUj9UlBlWJgOcAF4AZABAJgB6AGgAasHqgEFMC40LjG4AQHIAQD4AQGYAgagArkHwgIKEAAYRxjWBBiwA8ICDRAAGIAEGIoFGEMYsAPCAgYQABgWGB7CAgsQABiABBiKBRiGA8ICBBAhGBWYAwCIBgGQBgqSBwUxLjQuMaAHnxs&sclient=gws-wiz-serp&ibp=htl;jobs&sa=X&ved=2ahUKEwi8rYi8nrKFAxUoRmwGHST7BzgQkd0GegQIERAB#fpstate=tldetail&htivrt=jobs&htiq=kpmg+careers+pune+data+engineer&htidocid=rZcm7DO0C24yNe22AAAAAA%3D%3D" class="btn btn-primary" style="margin-left:18%;">Apply Now</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwkqO6w3_DmMgMZ5vyIHmMgGheGETE6mLgUMWV7BT67A&s" alt="Card image cap" style="height:20%;">
						<div class="card-body">
							<h5 class="card-title">data Engineer</h5>
							<p class="card-text">Strong analytical skills and proficiency in data visualization tools.Proficiency in SQL, Excel, and other data analysis tools like tableu,powerBi</p>
							<a href="https://jobs.netflix.com/jobs/301551734" class="btn btn-primary" style="margin-left:18%;">Apply Now</a>
						</div>
					</div>
				</div>
			</div>
</body>
</html>

