@page
@model CampusCraft.Pages.upcoming_drivesModel
@{
}

<html>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12" style="text-align:center;color:orange;">
					<h3>UPCOMING DRIVES</h3>
				</div>
			</div>
			<div class="row" style="margin-top:5%;">
				<div class="col-md-4">
				  <div class="card" style="width: 18rem;">
					 <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/019/766/240/non_2x/amazon-logo-amazon-icon-transparent-free-png.png" alt="Card image cap">
					   <div class="card-body">
					 	 <h5 class="card-title">Software Developer</h5>
						 <p class="card-text">We are looking for software developer who thrive on complex problems and relish the challenge of operating complex and mission critical systems under extreme loads..</p>
						 <a href="https://www.amazon.jobs/en/jobs/2602532/sr-software-development-engineer-affs" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
					   </div>
				  </div>
				</div>

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd_LsYHorTZwTzoYevKKg0L6ZzHtX8YeO_s2FiBVRYzQ&s" alt="Card image cap" style="height:20%;">
					<div class="card-body">
						<h5 class="card-title">Software Engineer</h5>
						<p class="card-text">We are looking for software engineers who thrive on complex problems and relish the challenge .</p>
						<a href="https://www.google.com/search?q=flipkart+careers+pune&oq=flipkart+careers+pu&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIICAIQABgWGB4yDQgDEAAYhgMYgAQYigUyDQgEEAAYhgMYgAQYigUyDQgFEAAYhgMYgAQYigUyDQgGEAAYhgMYgAQYigWoAgiwAgE&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&sqi=2&ved=2ahUKEwi9u9Tuh7KFAxWW-DgGHXWpD3kQkd0GegQIRxAB#fpstate=tldetail&htivrt=jobs&htiq=flipkart+careers+pune&htidocid=9T9HostgupU-NjJFAAAAAA%3D%3D&sxsrf=ACQVn0-opp_hcDhvKPPDAwy-nl2J9WuFtA:1712560190862" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="https://logowik.com/content/uploads/images/microsoft44289.logowik.com.webp" alt="Card image cap" style="height:20%;">
					<div class="card-body">
						<h5 class="card-title">Software Engineer</h5>
						<p class="card-text">We are looking for software engineers who thrive on complex problems and relish the challenge .</p>
						<a href="https://www.google.com/search?q=flipkart+careers+pune&oq=flipkart+careers+pu&gs_lcrp=EgZjaHJvbWUqBwgAEAAYgAQyBwgAEAAYgAQyBggBEEUYOTIICAIQABgWGB4yDQgDEAAYhgMYgAQYigUyDQgEEAAYhgMYgAQYigUyDQgFEAAYhgMYgAQYigUyDQgGEAAYhgMYgAQYigWoAgiwAgE&sourceid=chrome&ie=UTF-8&ibp=htl;jobs&sa=X&sqi=2&ved=2ahUKEwi9u9Tuh7KFAxWW-DgGHXWpD3kQkd0GegQIRxAB#fpstate=tldetail&htivrt=jobs&htiq=flipkart+careers+pune&htidocid=9T9HostgupU-NjJFAAAAAA%3D%3D&sxsrf=ACQVn0-opp_hcDhvKPPDAwy-nl2J9WuFtA:1712560190862" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
					</div>
				</div>
			</div>


			<div class="row" style="margin-top:5%;align-content:center;margin-bottom:5%;">
				<div class="col-md-4" style="height:40%;">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://logowik.com/content/uploads/images/bajaj-finance6835.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Data Analyst</h5>
							<p class="card-text"> Strong analytical skills and proficiency in data visualization tools.Proficiency in SQL, Excel, and other data analysis tools.</p>
							<a href="https://www.amazon.jobs/en/jobs/2602532/sr-software-development-engineer-affs" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://nextgeneration.vc/wp-content/uploads/2018/07/kpmg-logo.png" alt="Card image cap" style="height:20%;">
						<div class="card-body">
							<h5 class="card-title">Software Engineer</h5>
							<p class="card-text">We are looking for software engineers who thrive on complex problems and relish the challenge .</p>
							<a href="https://www.google.com/search?q=kpmg+careers+pune+data+engineer&sca_esv=362041e0339ad871&sca_upv=1&hl=en&biw=1536&bih=776&sxsrf=ACQVn0__R5kdAhi2zVDDrpXFr4bAkzcFoQ:1712566243856&ei=468TZvXeM-6RseMPhOuw4AM&oq=kpmg+careers+pune+data&gs_lp=Egxnd3Mtd2l6LXNlcnAiFmtwbWcgY2FyZWVycyBwdW5lIGRhdGEqAggCMgUQIRigATIFECEYoAEyBRAhGKABMgUQIRigATIFECEYnwUyBRAhGJ8FMgUQIRifBTIFECEYnwUyBRAhGJ8FMgUQIRifBUj9UlBlWJgOcAF4AZABAJgB6AGgAasHqgEFMC40LjG4AQHIAQD4AQGYAgagArkHwgIKEAAYRxjWBBiwA8ICDRAAGIAEGIoFGEMYsAPCAgYQABgWGB7CAgsQABiABBiKBRiGA8ICBBAhGBWYAwCIBgGQBgqSBwUxLjQuMaAHnxs&sclient=gws-wiz-serp&ibp=htl;jobs&sa=X&ved=2ahUKEwi8rYi8nrKFAxUoRmwGHST7BzgQkd0GegQIERAB#fpstate=tldetail&htivrt=jobs&htiq=kpmg+careers+pune+data+engineer&htidocid=rZcm7DO0C24yNe22AAAAAA%3D%3D" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwkqO6w3_DmMgMZ5vyIHmMgGheGETE6mLgUMWV7BT67A&s" alt="Card image cap" style="height:20%;">
						<div class="card-body">
							<h5 class="card-title">data Engineer</h5>
							<p class="card-text">Data Engineering at Netflix is a role that requires building systems to process data efficiently and modeling the data to power analytics.</p>
							<a href="https://jobs.netflix.com/jobs/301551734" class="btn btn-primary" style="margin-left:18%;">View Full Description</a>
						</div>
					</div>
				</div>
		</div>
	</body>
</html>
